<div class="position-relative overflow-hidden p-3 m-md-1 bg-light">
  <form>
    <h2>Buscar Profesores</h2><br>

    <div class="form-group row">
      <label class="col-sm-4 p-2 col-form-label">Matricula</label>
      <div class="col-sm-8 pull-left text-left">
        <input type="text" class="form-control" name="matricula" [(ngModel)]="matricula" placeholder="Matricula . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="form-group row">
      <label class="col-sm-4 p-2 col-form-label">Nombre(s)</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Nombre(s) . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12" *ngIf="matricula && !nombre">
        <button type="submit" (click)="buscarProfesorMatricula()" class="btn btn-primary btn-md btn-block">Buscar</button>
      </div>
      <div class="col-sm-12" *ngIf="!matricula && nombre">
        <button type="submit" (click)="buscarProfesoresNombre()" class="btn btn-primary btn-md btn-block">Buscar</button>
      </div>
    </div>
  </form>
</div>

<hr *ngIf="profesores" class="featurette-divider">
<div *ngFor="let profesor of profesores" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
  <div class="row">
    <div class="col-md-9 pull-left text-left">
      <h4 class="list-group-item-heading m-1">{{ profesor.nombre }} {{ profesor.paterno }} {{ profesor.materno }}</h4>
      <div class="row">
        <div class="col-md-3">
          <p class="font-weight-bold text-uppercase m-1">Matricula: </p>
          <p class="font-weight-bold text-uppercase m-1">Posicion: </p>
          <p class="font-weight-bold text-uppercase m-1">Telefono: </p>
          <p class="font-weight-bold text-uppercase m-1">Correo: </p>
        </div>
        <div class="col-md-8">
          <p class="list-group-item-text m-1">{{ profesor.matricula }}</p>
          <p class="list-group-item-text m-1">{{ profesor.posicion }}</p>
          <p class="list-group-item-text m-1">{{ profesor.telefono }}</p>
          <p class="list-group-item-text m-1">{{ profesor.correo }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <br>
      <button type="button" (click)="verProfesor(profesor.matricula)" class="btn btn-outline-info btn-md btn-block">Ver</button>
      <br><br>
      <button type="button" (click)="eliminarProfesor(profesor.matricula)" class="btn btn-outline-danger btn-md btn-block">Eliminar</button>
    </div>
  </div>
</div>

<hr *ngIf="profesor" class="featurette-divider">
<div *ngIf="profesor" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
  <div class="row">
    <div class="col-md-9 pull-left text-left">
      <h4 class="list-group-item-heading m-1">{{ profesor.nombre }} {{ profesor.paterno }} {{ profesor.materno }}</h4>
      <div class="row">
        <div class="col-md-3">
          <p class="font-weight-bold text-uppercase m-1">Matricula: </p>
          <p class="font-weight-bold text-uppercase m-1">Posicion: </p>
          <p class="font-weight-bold text-uppercase m-1">Telefono: </p>
          <p class="font-weight-bold text-uppercase m-1">Correo: </p>
        </div>
        <div class="col-md-8">
          <p class="list-group-item-text m-1">{{ profesor.matricula }}</p>
          <p class="list-group-item-text m-1">{{ profesor.posicion }}</p>
          <p class="list-group-item-text m-1">{{ profesor.telefono }}</p>
          <p class="list-group-item-text m-1">{{ profesor.correo }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <br>
      <button type="button" (click)="verProfesor(profesor.matricula)" class="btn btn-outline-info btn-md btn-block">Ver</button>
      <br><br>
      <button type="button" (click)="eliminarProfesor(profesor.matricula)" class="btn btn-outline-danger btn-md btn-block">Eliminar</button>
    </div>
  </div>
</div>