<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <h1>Clases de {{profesor?.nombre}} {{profesor?.materno}} {{profesor?.paterno}}</h1>
  <hr class="featurette-divider">
  <div class="card-deck mb-3 text-center justify-content-around">

    <div *ngFor="let clase of profesor?.clases; let i = index" class="card mb-4 shadow-sm" style="min-width: 350px; max-width: 350px">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal">{{clase.nombreClase}}</h3>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title">{{clase.grado}}° "{{clase.grupo}}"</h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{clase.nivel}}</li>
        </ul>
        <button (click)="saveGrupoAlumnos(clase.nivel, clase.grado, clase.grupo, clase.nombreClase, profesor.nombre)" type="button" class="btn btn-outline-info btn-md btn-block">Ver grupo</button>
        <button *ngIf="this.authService.adminLoggedIn()" (click)="deleteClase(clase.nombreClase, clase.nivel, clase.grado, clase.grupo)" type="button" class="btn btn-outline-danger btn-md btn-block">Eliminar grupo</button>
      </div>
    </div>

  </div>

  <div *ngIf="this.authService.adminLoggedIn()" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar clase</h5>
      </div>
      <div class="modal-body">
        <div class="position-relative overflow-hidden p-3 m-md-1">
          <div class="form-group">
            <label class="col-md-12 p-2 col-form-label">Nombre de la materia</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="text" class="form-control" name="nombreClase" [(ngModel)]="nombreClase" placeholder="Nombre de la clase . ." [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <label class="col-md-12 p-2 col-form-label">Nivel</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <select class="form-control" name="nivel" [(ngModel)]="nivel" placeholder="Grado . .">
                  <option value="Preescolar">Preescolar</option>
                  <option value="Primaria">Primaria</option>
                  <option value="Secundaria">Secundaria</option>
                </select>
              </div>
            </div>
            <label class="col-md-12 p-2 col-form-label">Grado</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="number" class="form-control" name="grado" [(ngModel)]="grado" placeholder="Grado . ." [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <label class="col-md-12 p-2 col-form-label">Grupo</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="text" class="form-control" name="grupo" [(ngModel)]="grupo" placeholder="Grupo . ." [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="nombreClase && nivel && grado && grupo" type="button" (click)="addClase()" class="btn btn-outline-info">Agregar</button>
      </div>
    </div>
  </div>
</div>