<div class="position-relative overflow-hidden p-3 m-md-1 bg-light">
  <form>
    <h2>Buscar Alumnos</h2><br>

    <div class="form-group row">
      <label class="col-sm-4 p-2 col-form-label">Por matricula</label>
      <div class="col-sm-8 pull-left text-left">
        <input type="text" class="form-control" name="matricula" [(ngModel)]="matricula" placeholder="Matricula . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="form-group row">
      <label class="col-sm-4 p-2 col-form-label">Por nombre(s)</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Nombre(s) . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <hr class="featurette-divider">

    <label class="col-sm-4 p-2 col-form-label">Por grupo</label>
    <div class="form-group row">
      <div class="col-sm-4">
        <input type="text" class="form-control" name="nivel" [(ngModel)]="nivel" placeholder="Nivel . ." [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" name="grado" [(ngModel)]="grado" placeholder="Grado . ." [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="grupo" [(ngModel)]="grupo" placeholder="Grupo . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12" *ngIf="matricula && !nombre && !nivel && !grado && !grupo">
        <button type="submit" (click)="buscarAlumnoMatricula()" class="btn btn-primary btn-md btn-block">Buscar</button>
      </div>
      <div class="col-sm-12" *ngIf="!matricula && nombre && !nivel && !grado && !grupo">
        <button type="submit" (click)="buscarAlumnosNombre()" class="btn btn-primary btn-md btn-block">Buscar</button>
      </div>
      <div class="col-sm-12" *ngIf="!matricula && !nombre && nivel && grado && grupo">
        <button type="submit" (click)="buscarAlumnosGrupo()" class="btn btn-primary btn-md btn-block">Buscar</button>
      </div>
    </div>
  </form>
</div>

<hr *ngIf="alumnos" class="featurette-divider">
<div *ngFor="let alumno of alumnos" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
  <div class="row">
    <div class="col-md-9 pull-left text-left">
      <h4 class="list-group-item-heading m-1">{{ alumno.nombre }} {{ alumno.paterno }} {{ alumno.materno }}</h4>
      <div class="row">
        <div class="col-md-3">
          <p class="font-weight-bold text-uppercase m-1">Matricula: </p>
          <p class="font-weight-bold text-uppercase m-1">CURP: </p>
          <p class="font-weight-bold text-uppercase m-1">Nivel: </p>
          <p class="font-weight-bold text-uppercase m-1">Grado: </p>
          <p class="font-weight-bold text-uppercase m-1">Grupo: </p>
          <p class="font-weight-bold text-uppercase m-1">Nacimiento: </p>
          <p class="font-weight-bold text-uppercase m-1">Email: </p>
        </div>
        <div class="col-md-8">
          <p class="list-group-item-text m-1">{{ alumno.matricula }}</p>
          <p class="list-group-item-text m-1">{{ alumno.curp }}</p>
          <p class="list-group-item-text m-1">{{ alumno.nivel }}</p>
          <p class="list-group-item-text m-1">{{ alumno.grado }}°</p>
          <p class="list-group-item-text m-1">"{{ alumno.grupo }}"</p>
          <p class="list-group-item-text m-1">{{ alumno.fechaNacimiento }}</p>
          <p class="list-group-item-text m-1">{{ alumno.email }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <br>
      <button type="button" (click)="verAlumno(alumno.matricula)" class="btn btn-outline-info btn-md btn-block">Ver</button>
      <br><br>
      <button type="button" (click)="eliminarAlumno(alumno.matricula)" class="btn btn-outline-danger btn-md btn-block">Eliminar</button>
    </div>
  </div>
</div>

<hr *ngIf="alumno" class="featurette-divider">
<div *ngIf="alumno" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
  <div class="row">
    <div class="col-md-9 pull-left text-left">
      <h4 class="list-group-item-heading m-1">{{ alumno.nombre }} {{ alumno.paterno }} {{ alumno.materno }}</h4>
      <div class="row">
        <div class="col-md-3">
          <p class="font-weight-bold text-uppercase m-1">Matricula: </p>
          <p class="font-weight-bold text-uppercase m-1">CURP: </p>
          <p class="font-weight-bold text-uppercase m-1">Nivel: </p>
          <p class="font-weight-bold text-uppercase m-1">Grado: </p>
          <p class="font-weight-bold text-uppercase m-1">Grupo: </p>
          <p class="font-weight-bold text-uppercase m-1">Nacimiento: </p>
          <p class="font-weight-bold text-uppercase m-1">Email: </p>
        </div>
        <div class="col-md-8">
          <p class="list-group-item-text m-1">{{ alumno.matricula }}</p>
          <p class="list-group-item-text m-1">{{ alumno.curp }}</p>
          <p class="list-group-item-text m-1">{{ alumno.nivel }}</p>
          <p class="list-group-item-text m-1">{{ alumno.grado }}°</p>
          <p class="list-group-item-text m-1">"{{ alumno.grupo }}"</p>
          <p class="list-group-item-text m-1">{{ alumno.fechaNacimiento }}</p>
          <p class="list-group-item-text m-1">{{ alumno.email }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <br>
      <button type="button" (click)="verAlumno(alumno.matricula)" class="btn btn-outline-info btn-md btn-block">Ver</button>
      <br><br>
      <button type="button" (click)="eliminarAlumno(alumno.matricula)" class="btn btn-outline-danger btn-md btn-block">Eliminar</button>
    </div>
  </div>
</div>