<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <h1>Calificaciones de {{alumno?.nombre}} {{alumno?.materno}} {{alumno?.paterno}}</h1>
  <h5 class="m-3">{{alumno?.nivel}} {{alumno?.grado}}° "{{alumno?.grupo}}"</h5>
  <hr class="featurette-divider">

  <div *ngIf="this.authService.adminLoggedIn()">
    <div class="row justify-content-around text-center">
      <div class="form-group row justify-content-center">
        <label class="col-md-1 p-2 col-form-label">Nivel</label>
        <div class="col-md-3">
          <select class="form-control" name="nivel" [(ngModel)]="nivel">
            <option *ngFor="let nivel of niveles" [value]="nivel">{{nivel}}</option>
          </select>
        </div>
        <label class="col-md-1 p-2 col-form-label">Grado</label>
        <div class="col-md-3">
          <input type="number" class="form-control" name="grado" [(ngModel)]="grado" placeholder="Grado . ." [ngModelOptions]="{standalone: true}">
        </div>
        <label class="col-md-1 p-2 col-form-label">Grupo</label>
        <div class="col-md-3">
          <input type="text" class="form-control" name="grupo" [(ngModel)]="grupo" placeholder="Grupo . ." [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <small id="emailHelp" class="form-text text-muted">Al editar el grupo del alumno se tendran que editar las clases correspondientes</small>
      <button type="button" (click)="editarGrupoAlumno()" class="btn btn-outline-info">Editar grupo </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th> </th>
          <th class="font-weight-bold">Primer trimestre</th>
          <th class="font-weight-bold">Segundo trimestre</th>
          <th class="font-weight-bold">Tercer trimestre</th>
          <th class="font-weight-bold">Promedio por materia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of alumno?.materias; index as i">
          <td class="font-weight-bold">{{materia.nombreMateria}}
            <small id="passwordHelpBlock" class="form-text text-muted">
              {{materia.profesor}}
            </small>
          </td>
          <td>{{materia.calificaciones[0]}}</td>
          <td>{{materia.calificaciones[1]}}</td>
          <td>{{materia.calificaciones[2]}}</td>
          <td class="font-weight-bold">{{promediosMaterias[i]}}</td>
        </tr>
        <tr class="font-weight-bold">
          <td class="text-uppercase">Promedio trimestral</td>
          <td>{{promediosTrimestres[0]}}</td>
          <td>{{promediosTrimestres[1]}}</td>
          <td>{{promediosTrimestres[2]}}</td>
          <td>{{promedioFinal}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="this.authService.adminLoggedIn()">
    <div class="row justify-content-around">
      <div class="col-md-5 overflow-hidden position-relative p-4 m-md-1 bg-light">
        <div class="row">
          <div class="col-md-12">
            <h3 class="mb-1">Agregar materia</h3>
            <hr class="featurette-divider">
            <div class="form-group row justify-content-center">
              <label class="col-md-6 p-2 col-form-label">Profesor</label>
              <div class="col-md-6 ">
                <select class="form-control" [(ngModel)]="newNombreProfesor">
                  <option *ngFor="let profesor of profesoresGrupo" [value]="profesor.nombre">{{profesor.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row justify-content-center">
              <label class="col-md-6 p-2 col-form-label">Clase</label>
              <div class="col-md-6">
                <div *ngFor="let profesor of profesoresGrupo">
                  <select class="form-control" *ngIf="profesor.nombre === newNombreProfesor" [(ngModel)]="newNombreMateria">
                    <option *ngFor="let clase of profesor.clases" [value]="clase.nombreClase">{{clase.nombreClase}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="agregarMateria()" class="btn btn-outline-info">Agregar</button>
        </div>
      </div>
      <div class="col-md-5 overflow-hidden position-relative p-4 m-md-1 bg-light">
        <div class="row">
          <div class="col-md-12">
            <h3 class="mb-1">Eliminar materia</h3>
            <hr class="featurette-divider">
            <div class="form-group row justify-content-center">
              <label class="col-md-6 p-2 col-form-label">Clase</label>
              <div class="col-md-6 ">
                <select class="form-control" [(ngModel)]="nombreMateriaDelete">
                  <option *ngFor="let materia of this.alumno?.materias" [value]="materia.nombreMateria">{{materia.nombreMateria}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="eliminarMateria()" class="btn btn-outline-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="alumno?.comentarios.length > 0" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

  <h1 *ngIf="!editComentario">Comentarios</h1>
  <h1 *ngIf="editComentario">Editar Comentario</h1>

  <div *ngIf="!editComentario">
    <div *ngFor="let comentario of alumno?.comentarios; index as i" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
      <div class="row">
        <div class="col-md-12 pull-left text-left">
          <div class="d-flex justify-content-between">
            <h3 class="mb-1">{{ comentario.titulo }}</h3>
            <p class="mb-1">{{ comentario.fecha }}</p>
          </div>
          <h6 class="list-group-item-heading m-1">Profesor: {{ comentario.profesor }}</h6>
          <h6 class="list-group-item-heading m-1">Materia: {{ comentario.materia }}</h6>
          <div class="row">
            <div class="col-md-12">
              <p class="m-2">{{ comentario.texto }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.authService.adminLoggedIn()" class="modal-footer">
        <button type="button" (click)="editarComentario(comentario.titulo, comentario.fecha, comentario.profesor, comentario.materia, comentario.texto)" class="btn btn-outline-warning btn-md m-2">Editar</button>
        <button type="button" (click)="eliminarComentario(comentario.titulo)" class="btn btn-outline-danger btn-md m-2">Eliminar</button>
      </div>
    </div>
  </div>

  <div *ngIf="editComentario" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
    <div class="row">
      <div class="col-md-12 pull-left text-left">
        <div class="d-flex justify-content-between">
          <h3 class="mb-1">{{ this.comentarioEdit.titulo }}</h3>
          <p class="mb-1">{{ this.comentarioEdit.fecha }}</p>
        </div>
        <h6 class="list-group-item-heading m-1">Profesor: {{ this.comentarioEdit.profesor }}</h6>
        <h6 class="list-group-item-heading m-1">Materia: {{ this.comentarioEdit.materia }}</h6>
        <div class="row">
          <div class="col-md-12">
            <textarea class="form-control" name="comentarioTexto" [(ngModel)]="this.comentarioEdit.texto" placeholder="Comentario . ." [ngModelOptions]="{standalone: true}" rows="4"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="cancelarPost()" class="btn btn-danger">Cancelar</button>
      <button type="button" (click)="editarPost()" class="btn btn-info">Aceptar</button>
    </div>
  </div>

</div>