<div class="position-relative overflow-hidden p-3 m-md-1 bg-light">
  <form>
    <h3>Agregar varios alumnos</h3>
    <div class="form-group row" style="margin: 20px;">
      <label class="col-sm-5 col-form-label p-2 text-center">Archivo</label>
      <div class="col-sm-7 pull-left text-left">
        <input type="file" accept=".csv" name="files" #uploads (change)="onChange(uploads.files)" value="process" />
      </div>
      <div class="col-sm-12" style="margin: 10px;">
        <button *ngIf="this.alumnoList" type="submit" (click)="agregarAlumnos()"
          class="btn btn-primary btn-md btn-block">Agregar
          {{alumnoList.length}} alumnos</button>
      </div>
    </div>

    <h2>Agregar Alumno</h2>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label p-2 text-center">Matricula</label>
      <div class="col-sm-7 pull-left text-left">
        <input type="text" class="form-control" name="matricula" [(ngModel)]="matricula" placeholder="Matricula . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">CURP</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="curp" [(ngModel)]="curp" placeholder="CURP . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Nombre(s)</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Nombre(s) . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Apellido Paterno</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="paterno" [(ngModel)]="paterno" placeholder="Paterno . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Apellido Materno</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="materno" [(ngModel)]="materno" placeholder="Materno . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Nivel</label>
      <div class="col-sm-7 pull-left text-left">
        <input type="radio" value="Preescolar" name="nivel" [(ngModel)]="nivel" required> Preescolar
        <br>
        <input type="radio" value="Primaria" name="nivel" [(ngModel)]="nivel" required> Primaria
        <br>
        <input type="radio" value="Secundaria" name="nivel" [(ngModel)]="nivel" required> Secundaria
      </div>
    </div>

    <div class=" form-group row">
      <label for="grado" class="col-sm-5 p-2 col-form-label">Grado</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" name="grado" [(ngModel)]="grado" placeholder="Grado . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Grupo</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="grupo" [(ngModel)]="grupo" placeholder="Grupo . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Fecha de nacimiento</label>
      <div class="col-sm-7">
        <input type="date" class="form-control" name="fecha" [(ngModel)]="fechaNacimiento"
          placeholder="Fecha de nacimiento . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Email de contacto</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Contraseña</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="contrasena" [(ngModel)]="password" placeholder="Contraseña . ."
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-5 p-2 col-form-label">Confirmación de contraseña</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="confirmacion" [(ngModel)]="passwordConfirmation"
          placeholder="Confirmacion . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12"
        *ngIf="matricula && curp && nombre && paterno && materno && grado && fechaNacimiento && email && password && passwordConfirmation">
        <button type="submit" (click)="agregarAlumno()" class="btn btn-primary btn-md btn-block">Confirmar</button>
      </div>
    </div>

  </form>
</div>
